body{
  background-color: white;
  color: black;
}
.mydark{
  background-color: black;
  color: white;
}
.searchbox{
height: 556px;
width: 100%;
border:dotted white;
 background-image: url(./Images/background.jpg);
 background-repeat: no-repeat;
 background-size: cover;
  
}
#coupon{
  height:200px;
  width:400px;
  background-color:gray;
  z-index:100;
  margin:auto;
  visibility: hidden;
  background-repeat: no-repeat;
}

.logo {
  text-align: center;
  font-size: 70px;
  color: red;
  background: white;
  width: 105px;
  height: 113px;
  border-radius: 107%;
  position: absolute;
  top: 26%;
  margin-left: 43%;
  font-family: Poppins;
  font-weight: bold;
}
.logo:hover{
  background-color: rgba(255, 255, 255, 0.5);
  color: #d85323;
  transform: rotate(180deg);
}

.quicksearch {
  position: absolute;
  margin-left: 107px;
  margin-top: 127px;
}

.quicksearchHeading {
  text-align: left;
  color: #192f60;
  font-size: 30px;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding-left: 35px;
}

.quicksearchSubHeading {
  text-align: left;
  color: gray;
  font-size: 18px;
  font-weight: normal;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding-left: 35px;
}



.qs-block {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  margin-bottom: 5px;
}

.marg-bot {
  margin-bottom: 10px;
}

.heading {
  width: 88px;
  height: 25px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #192f60;
}

.card:hover{
  transform: scale(1.1);
}

.locationSelect{
  position: relative;
  top: 304px;
  margin-left: -20.5%;
  text-align: center;
}
.locationDropdown{
  height: 40px;
  width: 245px;
  color: gray;
  font-size: 15px;
  opacity: 0.7;
  margin-right: 21px;
  margin-bottom: 25px;
  float: left;
}

.restaurantsinout{
  height: 40px;
  width: 310px;
  color: gray;
  font-size: 15px;
  float: left;
  padding-left: 30px;
  margin-left: 3px;
}